#gallery {
  display: flex;
  padding: 20px;
}

img {
  height: 250px;
}

#gallery li {
  list-style-type: none;
  margin-right: 20px;
}

#gallery li:last-child {
  margin-right: 0;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#counter {
  padding: 20px 0 20px 0;
}

input {
  margin-top: 20px;
}
